<script setup>
    import useClima from '../composables/useClima'
    const { altaTemperatura } = useClima()
    defineProps({
        clima: {
            type: Object, 
            required: true
        }
    })

</script>

<template>
    <div class="resultado">
        <h2>Clima de: {{ clima.name }}</h2>
        <p 
            class="actual" 
            :class="{alta: altaTemperatura(clima.main.temp)}"
        >{{ clima.main.temp }}&deg;C</p>
        <div class="temperaturas">
            <p>Min: {{ clima.main.temp_max }}<span>&deg;C</span></p>
            <p>Max: {{ clima.main.temp_min }}<span>&deg;C</span></p>
            <p>Humedad: {{ clima.main.humidity }}<span>%</span></p>
            <p 
                :class="{alta: altaTemperatura(clima.main.feels_like)}"
            >ST: {{ clima.main.feels_like }}<span>&deg;C</span></p>
        </div>
    </div>
</template>
